body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    line-height: 1.6em;
    }
h1, h2 {
    color: #007e7e;
    }
h1{
    font-size:190%;
    }
h2{
    font-size:120;
    }
#guarantee{
    color: rgba(49, 43, 43, 0.521);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 105%;
    line-height: 1.6em;
    border: 4px dashed white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
   
    background-color: rgba(94, 160, 245, 0.411);
    padding: 15px 5px 15px 85px;
    margin: 35px 270px 35px 35px;
    
    background-image: url(images/background.gif);
    background-position: top left;
    background-repeat: no-repeat;
    }

    #elixirs {
    float: right;
    width: 200px;/*content area only */
    border:2px solid darkcyan;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;/*including images */
    line-height: 1;/*1 time line height of own font size */
    background: url(images/cocktail.gif) repeat-x;
    padding: 40px 10px;
        /* entire width = width+padding+margin+line width */


}
 #elixirs h2{
     color: black;
 }
 #elixirs h3{
     color: #d12c47;
 }
#footer{
    text-align: center;
    color: #007e7e;
    font-size: 80%;
    margin-top: 20px;
    
}
.cd{
    font-style: italic;
}
.singer{
    font-weight: bold;
}

#elixirs a:link{
    color: darkgoldenrod;
}
#elixirs a:visited{
    color: rgb(153, 51, 4);
}
#elixirs a:hover{
    color: rgb(71, 240, 56);
    background: red;
}